/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font-size: 14px;
	font-family: Roboto;
	width: 100%;
}
.block-1{
	height: 800px;
	background-image: url(/images/block-1-bg.jpg);
	background-repeat: no-repeat;
}
.logo {
    text-align: left;
}
.logo a img {
    padding-left: 6px;
    padding-right: 8px;
}
.logo a span {
	font-family: Roboto;
    color: #3a3a3a;
    font-size: 1.3em;
    font-weight: 300;
}
.top-section{
	margin-top: 7px;
    text-align: center;
}
.col-md-7.top-menu-wrapper{
	width: 55.833%;
}
.user-section.col-md-2 {
    text-align: left;
    width: 19.1%;
}
.user-section.col-md-2 {
    margin-top: 9px;
    text-align: left;
    width: 19.1%;
}
.login-link {
    background: #cb1332 none repeat scroll 0 0;
    border-radius: 4px;
    padding: 7px 15px;
    color: #fff;
    font-size: 0.9em;
}
.login-link:hover, .login-link:active{
	text-decoration: none;
	color: #fff;
}
.ic_login {
  	background: rgba(0, 0, 0, 0) url("/images/ic_login.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 15px;
    left: -4px;
    margin-right: 5px;
    position: relative;
    top: 0;
    vertical-align: middle;
    width: 10px;
 }
/*start component top-menu*/
.top-menu{
	list-style-type: none;
	padding-top: 10px;
	text-align: left;
}
.top-menu li {
    display: inline-block;
    margin-right: 8px;
}
.top-menu li a{
 	 background-color: #ccc;
    border-radius: 3px;
    color: #3a3a3a;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.top-menu li a:hover, .top-menu li a:active{
	text-decoration: none;
	color: #3a3a3a; 
}
.top-menu li:last-child {
    margin-right: 0;
}
/*end component top-menu*/


.footer {
	height: 100px;
}