/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font-size: 14px;
	font-family: Roboto;
	width: 100%;
}
body * {
    font-family: roboto;
}
.text-center{
    text-align: center;
}
.block-1{
	height: 800px;
	background-image: url(/images/block-1-bg.jpg);
	background-repeat: no-repeat;
}
.logo {
    text-align: left;
}
.logo a img {
    padding-left: 6px;
    padding-right: 8px;
}
.logo a span {
	font-family: Roboto;
    color: #3a3a3a;
    font-size: 1.3em;
    font-weight: 300;
}
.top-section{
	margin-top: 7px;
    text-align: center;
}
.col-md-7.top-menu-wrapper{
	width: 55.833%;
}
.user-section.col-md-2 {
    text-align: left;
    width: 19.1%;
}
.user-section.col-md-2 {
    margin-top: 9px;
    text-align: left;
    width: 19.1%;
}
.top-phone-number {
    font-size: 1.5em;
    margin-top: 10px;
    font-weight: 500;
}
#callback-link {
    border-bottom: 1px dashed;
    color: #000;
    display: inline-block;
}
#callback-link:hover{
    text-decoration: none;
    color: #cb1332;
}
.top-address {
    display: inline-block;
    line-height: 1.1em;
    margin-top: 5px;
    text-align: right;
}
.login-link {
    background: #cb1332 none repeat scroll 0 0;
    border-radius: 4px;
    padding: 7px 15px;
    color: #fff;
    font-size: 0.9em;
}
.login-link:hover, .login-link:active{
	text-decoration: none;
	color: #fff;
}
.ic_login {
  	background: rgba(0, 0, 0, 0) url("/images/ic_login.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 15px;
    left: -4px;
    margin-right: 5px;
    position: relative;
    top: 0;
    vertical-align: middle;
    width: 10px;
 }
/*start component top-menu*/
.top-menu{
	list-style-type: none;
	padding-top: 10px;
	text-align: left;
}
.top-menu li {
    display: inline-block;
    margin-right: 10px;
}
.top-menu li a{
 	background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 500;
}
.top-menu li a:hover, .top-menu li a:active, .top-menu li a.selected{
	text-decoration: none;
	color: #fff; 
    background-color: #cb1332;
}
.top-menu li:last-child {
    margin-right: 0;
}
/*end component top-menu*/
.section-top-title .header-wrapper{
    text-align: left;
    display: inline-block;
}
.section-top-title  h1 {
    font-family: ProximaNova-Bold;
    font-size: 3.6em;
    font-style: italic;
    line-height: 1.1em;
    margin-top: 32px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.section-top-title  h2{

}
.section-top-title h2 > span:first-child {
    font-size: 1.7em;
    margin-top: 0;
}
.section-top-title h2 > span:nth-child(2) {
    background-color: #cb1332;
    border-radius: 3px;
    color: #fff;
    font-size: 1.6em;
    letter-spacing: 2px;
    margin-top: 0;
    padding: 2px 6px;
}
.col-md-12.section-top-title{
    margin-bottom: 90px;

}
/*start component feed back form*/
.feed-back-form {
    display: inline-block;
    width: 360px;
}
.feed-back-form .form-head{
    background-color: #cb1332;
    color: #fff;
    padding-bottom: 14px;
    padding-top: 22px;
    border-radius: 15px 15px 0 0;
}
.feed-back-form .form-body {
    background-color: #fff;
    padding-left: 17px;
    padding-right: 24px;
}
.feed-back-form .form-body > div:nth-child(3) {
    margin-top: 15px;
    padding-bottom: 13px;
    text-align: left;
}
.feed-back-form .form-body > div:nth-child(3) input[type=checkbox] {
   margin-right: 5px;
   position: relative;
   top: 1px;
}
.feed-back-form .form-body #oferta{
    color: #cb1332;
    text-decoration: none;
    border-bottom: 1px dashed #cb1332;
}
.feed-back-form .form-body #oferta:hover{
    text-decoration: none;
}
.feed-back-form .form-footer {
    background-color: #41ca88;
    border-radius: 0 0 15px 15px;
    height: 30px;
    position: relative;
}
.feed-back-form .form-body input[type="text"] {
    height: 40px;
    margin-top: 18px;
    width: 100%;
    border-radius: 5px;
    border:2px solid #41ca88 ;
    padding-left: 15px;
}
.feed-back-form .form-head>span:first-child{
    font-size: 1.2em;
}
.feed-back-form .form-footer > input {
    border: medium none;
    border-radius: 20px;
    height: 40px;
    margin-top: 16px;
    width: 260px;
    color: #000;
    font-weight: 500;
    font-size: 1.1em;
}
.feed-back-form .form-footer > input:hover{
    background-color: #d70024;
    color: #fff;
}

input[type="checkbox"],
input[type="radio"] {
    display:none;            
}
input[type="checkbox"] + label, 
input[type="radio"] + label {
  cursor: pointer;
}
input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
    background-image: url("/images/sprite.png");
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 12px;
    margin: 0 5px 0 0;
    position: relative;
    top: 2px;
    width: 11px;
}
input[type="radio"] + label::before {
   
    height: 12px;
    width: 12px;
}
input[type="checkbox"] + label::before {
   background-position: 0px 0px;    
}
input[type="radio"] + label::before {
    background-position: 0px -12px;
}
input[type="checkbox"]:checked + label::before {
    background-position: -12px 0;
}
input[type="radio"]:checked + label::before {
    background-position: -13px -12px;
}
h1.title{
    font-family: ProximaNova-Bold;
    font-size: 3.6em;
    font-style: italic;
    line-height: 1.1em;
    margin-bottom: 45px;
    margin-top: 60px;
    text-transform: uppercase;
}

/*end component feed back form*/

/*start component rates*/
.block-2{
    background-color: #e8e8e8;
    height: 920px;
}
.rates-wrapper h1{

}
.rates-wrapper .rates-filter {
    margin-bottom: 45px;
}
.rates-wrapper .rates-filter li{
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;

} 
.rates-wrapper .rates-filter li{    
    color: #000;    
    background-color:#fff;    
    border-radius: 3px;   
    font-size: 1.3em;    
    width: 165px;
    display: inline-block;    
    padding-bottom: 3px;   
    padding-top: 3px;
}
.rates-wrapper .rates-filter li a{
    color: #000;
    border-bottom: 1px dashed;
} 
.rates-wrapper .rates-filter li:hover, .rates-wrapper .rates-filter li.selected {   
   text-decoration: none;   
    background-color: #353535;
    color: #fff;
    border:none;

}
 .rates-wrapper .rates-filter li.selected a{
   text-decoration: none;   
    color: #fff;    
    border: none;
 }
.rates-wrapper .rates-filter li:hover a{
     text-decoration: none;   
    color: #fff;  
    border:none;
}
.rates-wrapper .rates-cell{
    width: 260px;
    height: 520px;
    margin-bottom: 20px;
}
.rates-wrapper .rates-header {
    background-color: #353535;
    border-radius: 20px 20px 0 0;

}
.rates-wrapper .rates-header h2 {
    color: #e8e8e8;
    font-size: 2.1em;
    padding-bottom: 25px;
    padding-top: 25px;
    font-weight: 300;
}
.rates-wrapper .speed-info > div:first-child {
    font-size: 1.5em;
    font-weight: 600;
    padding-top: 7px;
}
.rates-wrapper .speed-bar {
    position: relative;
}
.rates-wrapper .speed-bar-1::after {
    background: rgba(0, 0, 0, 0) url("/images/speed_bar.png") repeat scroll 0 0;
    content: "";
    display: block;
    height: 38px;
    left: 19px;
    position: absolute;
    top: 18px;
    width: 32px;
}
.rates-wrapper .speed-bar-2::after {
    background: rgba(0, 0, 0, 0) url("/images/speed_bar.png") repeat scroll 25% 0;
    content: "";
    display: block;
    height: 38px;
    left: 19px;
    position: absolute;
    top: 18px;
    width: 32px;
}
.rates-wrapper .speed-bar-3::after {
    background: rgba(0, 0, 0, 0) url("/images/speed_bar.png") repeat scroll 50% 0;
    content: "";
    display: block;
    height: 38px;
    left: 19px;
    position: absolute;
    top: 18px;
    width: 32px;
}
.rates-wrapper .speed-bar-4::after {
    background: rgba(0, 0, 0, 0) url("/images/speed_bar.png") repeat scroll 75% 0;
    content: "";
    display: block;
    height: 38px;
    left: 19px;
    position: absolute;
    top: 18px;
    width: 32px;
}
.rates-wrapper .speed-bar-5::after {
    background: rgba(0, 0, 0, 0) url("/images/speed_bar.png") repeat scroll 100% 0;
    content: "";
    display: block;
    height: 38px;
    left: 19px;
    position: absolute;
    top: 18px;
    width: 32px;
}
.rates-wrapper .speed-info {
    padding-bottom: 18px;
    background-color: #fff;
}
.rates-wrapper .action-link {
    border: medium none;
    text-decoration: underline;
    position: relative;
}
.rates-wrapper .action-link:after {
    background: #fff url("/images/ic_arrow.png") no-repeat scroll 0 8px;
    cursor: pointer;
    height: 20px;
    margin-left: -18px;
    margin-top: 1px;
    position: absolute;
    width: 18px;
    z-index: 1;
    content: "";
    display: block;
}
.rates-wrapper .device-info {
    background-color: #41ca88;
    padding-bottom: 11px;
    padding-top: 12px;
}
.rates-wrapper .device-info > span {
    border-bottom: 1px dashed;
    color: #fff;
    display: inline-block;
    font-size: 0.95em;
    position: relative;
}
.rates-wrapper .device-info > span::before {
    background-image: url("/images/ic_wifi.png");
    content: "";
    display: block;
    height: 23px;
    left: -45px;
    position: absolute;
    top: -4px;
    width: 35px;
}
.rates-wrapper .rates-cell{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}
.rates-cell.selected {
    top: -15px;
    z-index: 2;
}
.rates-list .slick-list.draggable {
    padding-top: 15px;
}

.rates-wrapper .rates-cell.selected .rates-header  {
    background-color: #d70024;

}
.rates-wrapper .rates-cell.selected .rates-footer > input{
    box-shadow: none;
    position: relative;

}
.rates-wrapper .rates-cell.selected::after {
    background-color: rgba(0, 0, 0, 0.09);
    border-radius: 100%;
    bottom: -10px;
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 0;
    left: 24px;
    position: absolute;
    width: 81%;
}
.rates-wrapper .rates-descr {
    background-color: #efefef;
    line-height: 1.3em;
    padding: 15px 15px 19px;
}
.rates-wrapper .check-box-wrapper {
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}
.rates-wrapper .check-box-wrapper >div:first-child{
    border-bottom: 1px solid #e5e5e5;
}
.rates-wrapper .check-box-wrapper > div {
    padding-bottom: 9px;
    padding-left: 10px;
    padding-top: 8px;
}
.rates-wrapper .check-box-wrapper label{
    font-weight: 800;
    font-size: 0.9em;
}
.rates-wrapper .check-box-wrapper {
    background-color: #fff;
    text-align: left;
}
.rates-wrapper .rates-footer {
    background-color: #41ca88;
    border-radius: 0 0 20px 20px;
    padding-top: 8px;
    height: 60px;
}
.rates-wrapper .rates-footer > div {
    color: #fff;
    font-size: 1.4em;
    font-weight: 600;
}
.rates-wrapper .rates-footer > input {
    border: medium none;
    border-radius: 20px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    color: #000;
    font-size: 1.1em;
    font-weight: 600;
    height: 40px;
    margin-top: 11px;
    width: 205px;
}

.rates-wrapper .rates-footer > input:hover{
    background-color: #d70024;
    color: #fff;
}
/*end component rates*/

/*start component our advantages*/
.block-4 {
    height: 610px;
}
.block-4 h1.title {
    margin-bottom: 85px;
}
.our-advantages-list h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 9px;
    margin-top: 32px;
}
.our-advantages-list .pic {
    height: 139px;
}
.our-advantages-list .p-number{
    font-size: 1.3em;
}
/*end component  our advantages*/

/*start block action*/
.block-action{
    height: 310px;
    background-image: url(/images/block-action-bg.jpg);
    background-repeat: no-repeat;

}
.block-action #connect-link {
    background-color: #fff;
    border-radius: 30px;
    color: #000;
    display: inline-block;
    font-size: 2.3em;
    height: 67px;
    margin-top: 121px;
    padding-top: 12px;
    text-transform: uppercase;
    width: 555px;
}
.block-action .ofert-2-link-wrapper{
    background: rgba(255, 0, 0, 0.1) none repeat scroll 0 0;
    border-radius: 7px;
    display: inline-block;
    margin-top: 15px;
    padding: 5px 15px;  
}
.block-action .ofert-2-link-wrapper #oferta-2-link{
    color: #fff;
    border-bottom: 1px dashed #fff;
}
.block-action .ofert-2-link-wrapper #oferta-2-link:hover{
    text-decoration: none;
}
.block-action #connect-link:hover, .block-action #connect-link:active{
    text-decoration: none;
    color: #fff;
    background-color: #d70024;
}
/*end block action*/

/*start component dop services*/

.block-5{
    background-color: #f3f3f3;
    height: 740px;
}
.block-5 h1.title {
    margin-bottom: 64px;
}
.dop-serivces h2 {
    font-size: 1.8em;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 19px;
}
.dop-serivces p{
    text-align: left;
    padding-left: 15px;
    padding-bottom: 20px;

}
.dop-serivces .descr {
    border-top: 1px solid #cecece;
}
.dop-serivces .descr {
    border-top: 1px solid #cecece;
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 10px;
    padding-top: 15px;
}
.dop-serivces .dop-service-link {
    background: #41ca88 none repeat scroll 0 0;
    border-radius: 25px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.1em;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}
.dop-serivces .dop-service-link:hover, .dop-serivces .dop-service-link:active{
    background-color: #d70024;
}
.dop-serivces .pic {
    height: 169px;
}

/*start ya map*/
/*end ya map*/
#map{
    border-top: 8px solid #fab255;
    width: 100%;
    height: 573px;
    position: relative;
}
#map .map-descr{
    position: absolute;
    z-index: 1;
    background-color: #fff;
    border-radius: 15px;
    top: 85px;
    padding: 31px 35px 35px;
}
.map-descr .phone-number {
    font-size: 2.3em;
}
.callback-link-map{
    text-decoration: none;
    color: #cb1332;
    display:inline-block;
    border-bottom: 1px dashed #cb1332;
    margin-bottom: 10px;
}
.callback-link-map:hover, .callback-link-map:active{
    text-decoration: none;
}
.map-descr .addess-list {
    margin-bottom: 10px;
}
.map-descr .doc-word {
    margin-top: 12px;
    position: relative;
    text-transform: uppercase;
}
.map-descr .doc-word::after {
    background: #ccc none repeat scroll 0 0;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    right: 1px;
    top: 9px;
    width: 65%;
}
.map-descr .pay-word {
    margin-top: 0px;
    position: relative;
    text-transform: uppercase;
}
.map-descr .pay-word::after {
    background: #ccc none repeat scroll 0 0;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    right: 1px;
    top: 9px;
    width: 50%;
}
.map-descr .dashed-link {
    margin-top: 8px;
}
.map-descr .dashed-link a{
    text-decoration: none;
    color: #cb1332;
    display:inline-block;
    border-bottom: 1px dashed #cb1332;
    margin-bottom: 10px;
}
.map-descr .dashed-linka:hover, .map-descr .dashed-link a:active{
    text-decoration: none;
}
.map-descr .pay-ico{
    margin-top: 10px;
}
/*end component dop services*/
.footer {
	height: 48px;
    background-color: #cb1332;
}
footer .container > .row {
    margin-top: 13px;
}
footer .coop, footer .age{
    color: #fff;
    font-weight: 200;
}
footer .coop a{
    color: #fff;
    text-decoration: none;
}
footer .coop a:hover{
    color: #fff;
    text-decoration: underline;
}